<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Food Search</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<style>
	</style>
</head>
<body>
	<div>
		<div class='banner'>
			<h1 class='banner__header'>Food Search</h1>
			<p class='banner__description'>Powered by the USDA's NDB API</p>
		</div>
		<section class='main'>
			{{{ body }}}			
		</section>
	</div>
</body>
</html>