<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burgers</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<style>
	</style>
</head>
<body>
	<div>
		{{{ body }}}
	</div>
</body>
</html>