<div>
	{{> nav}}
	<div>
		<form id='search'>
			<label for="Food Search">Food Search</label>
			<input type="text" id='food'>
			<button type='submit'>Search</button>
		</form>
		
	</div>
</div>

<script type='text/javascript'>


	$('#search').on('submit', function(event) {
		event.preventDefault()
		const food = $('#food').val();
		window.location = `/search/${food}`
	})

	$('#searchLink').attr('href', food);
</script>