<div>
	{{> nav}}
	<div>
		<label for="Food Search">Food Search</label>
		<input type="text" id='food'>
		<div href='#' id='searchLink'><button>Search</button></div>
	</div>
</div>

<script type='text/javascript'>


	$('#searchLink').on('click', function() {
		const food = $('#food').val();
		window.location = `/search/${food}`
	})

	$('#searchLink').attr('href', food);
</script>