<div>
    Search Results
    <div>
        hey
        <div>
            Total Results: {{totalResults}}
        </div>
        <ul>
            {{#each foods}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<script>

</script>